@model VocabHero.Models.FlashCard.FlashCardDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FlashCardDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlashCardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlashCardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Word)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Word)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Definition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Definition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartOfSpeech)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartOfSpeech)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
