@model IEnumerable<VocabHero.Models.UserFlashCard.UserFlashCardListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container border">
    <div class="card-columns">

        @foreach (var item in Model)
        {
            <div class="card bg-secondary">
                <div class="card-body">


                    @Html.HiddenFor(modelItem => item.UserCardId)
                    <div class="text-center align-middle">
                        <h3>@Html.DisplayFor(modelItem => item.Definition)</h3>
                    </div>
                </div>
                <div class="card-footer">

                    @Html.ActionLink("Edit", "Edit", new { id = item.UserCardId }) |
                    @Html.ActionLink("View", "Details", new { id = item.UserCardId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserCardId })

                    | <button type="button" class="btn btn-light rounded ">
                        @Html.ActionLink("Attempt Card", "Create", "FlashCardUserAttempt", new { id = item.UserCardId }, null)
                    </button>
                </div>
            </div>

        }
    </div>
</div>




